
#_examples_trains__chart svg {
	font: 10px sans-serif;
}

#_examples_trains__chart .axis path {
	display: none;
}

.#_examples_trains__chart axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#_examples_trains__chart .station line {
	stroke: #ddd;
	stroke-dasharray: 1,1;
	shape-rendering: crispEdges;
}

#_examples_trains__chart .station text {
	text-anchor: end;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

#_examples_trains__chart .train line {
	stroke-width: 1.5px;
}

#_examples_trains__chart .train circle {
	fill: #777;
	stroke: #fff;
	stroke-width: 1.5px;
}
